.paginationBttns {
  width: 80%;
  height: 40px;
  list-style: none;
  display: flex;
  justify-content: center;
  color: white;
}

.paginationBttns a {
  padding: 15px;
  margin: 10px;
  border-radius: 5px;
  border: 1px solid yellow;
  cursor: pointer;
}

paginationBttns a:hover,
.paginationActive a {
  background-color: grey;
}

.table {
  color: #ffe81f;
}
